@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Nunito", sans-serif;
  --font-lead: "Montserrat", sans-serif;
  --font-footer: "Geist", sans-serif;
  --color-primary-dark: hsl(210, 44%, 44%);
  --color-primary: #5287bb;
  --color-primary-light: hsl(210, 100%, 96%);
  --color-primary-light-2: hsl(210, 100%, 93%);
  --color-secondary: #1d3871;
  --color-sky-950: #112244;
}
